@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
body{
    overflow-x: hidden;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.navbar{
    background-color:rgba(5, 4, 4, 0.918);
    box-shadow: 1px 1px 5px white;
    
}
.nav-link:hover{
background-color:white;
border-radius: 10%;
}
.navbar .navbar-brand{
    font-size:1.5rem;
}


li.nav-item:nth-child(n) > a:nth-child(n){
    color: white;
font-size: 1.3rem;
}
li.nav-item:nth-child(n) > a:nth-child(n):hover{
color: red;
}
.text-light{
    font-size: 1.3rem;

}
.text-light:hover {
    background-color:white;
    color: red !important;


}
#searchicom{
    color: red;
}
#offcanvasRight > div:nth-child(1){
    box-shadow: 0px 2px 6px black;
}
#offcanvasTop > div:nth-child(1){
    box-shadow: 0px 2px 6px black;

}
.bi:hover{
color: yellow;
}


.navbar-brand:hover{
    text-shadow: 1px 1px 3px blue;
}


#offcanvasRight{
    background-color: green;
}
#offcanvasTop{
    background-color:green;
}
.top-contacts{
    background-color:black;

}
.bi-telephone{
    color: green;
    font-size: 69%;
}
.bi-envelope{
    color: green;
}
.bi-envelope > a:nth-child(1){
    text-decoration: none;
    font-size: smaller;
    color: green;
}
div.col-3:nth-child(3){
    color: green;
    width: 130px;
}
.justify{
    background: url("images/sanju_back_1.png");
}
h2.text-center{
    color: green;
}

.join{
background-color:green;
}
.join:hover{
    color: black;
    background-color: white;
}p.text-center:hover{
background-color:transparent;
color: white;
}