.navbar-light .navbar-nav .nav-link {
    color: rgb(232, 230, 227);
}
i{
    color: blue;
}
body{
    background-color:rgba(255, 0, 0, 0.795);
}
#radlab{
    color: violet;
    font: bolder;
    font-weight: bolder;
}
#footer{
    background-color:lightcyan;
}
#home:hover{
    color: red;
}
#about:hover{
    color: red;
}
#contact:hover{
    color: red;
}
#client:hover{
    color: red;
}