*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Dancing Script', cursive;
}

body{
overflow-x: hidden;    
}
#logo{
    color: red;
    font-size: larger;
    font-family: 'Anton', sans-serif;
text-decoration: underline;
}
.navbar-brand{
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}

.navbar-light .navbar-toggler {
    color: rgba(219, 141, 23, 0.55);
    border-color: rgba(242, 156, 28, 0.73);
}

li.nav-item:nth-child(n) > a:nth-child(n):hover{

    box-shadow:2px 2px 6px red,-2px -2px 6px red;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(15, 14, 13);
    color: wheat;
}
li.nav-item:nth-child(n) > a:nth-child(n){
    font-weight: bold;
    color: aquamarine;
    font-size: large;
}
.dropdown-menu > li:nth-child(n) > a:nth-child(n):hover{

    background-color: rgb(15, 14, 13);
    color: wheat;
}
.dropdown-menu{
    background-color:wheat;
}
#navbarSupportedContent{
    padding-left: 40%;
}
