@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.navbar{
    background-color:rgba(5, 4, 4, 0.918);
    box-shadow: 1px 1px 5px white;
    
}
.nav-link:hover{
background-color:white;
border-radius: 10%;
}
.navbar .navbar-brand{
    font-size:1.5rem;
}


li.nav-item:nth-child(n) > a:nth-child(n){
    color: white;
font-size: 1.3rem;
}
li.nav-item:nth-child(n) > a:nth-child(n):hover{
color: red;
}
.text-light{
    font-size: 1.3rem;

}
.text-light:hover {
    background-color:white;
    color: red !important;


}
#searchicom{
    color: red;
}
#offcanvasRight > div:nth-child(1){
    box-shadow: 0px 2px 6px black;
}
#offcanvasTop > div:nth-child(1){
    box-shadow: 0px 2px 6px black;

}
.bi:hover{
color: yellow;
}
#mid{
    height: 400px;
    width: 100%;
    background-color: red;
}
.col-4{
    margin-top: 1.2rem;
}
.navbar-brand:hover{
    text-shadow: 1px 1px 3px blue;
}
.justify-content-evenly{
    height: 500px;
    margin: 0px;
    background-image: url('images/dark_mid_background.jpg');
    background-position: center;
    background-size: cover;  
}
h2.text-center{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: -10px;
    color: antiquewhite;
    font-weight: bolder;
}
p.text-center{
    letter-spacing: 2px;
    font-family: 'Dancing Script', cursive;
    color: aqua;
    font-weight: bold;
    
}


.col-md-1 {
    flex: 0 0 auto;
    width: 0.333%;
}

#offcanvasRight{
    background-color: green;
}
#offcanvasTop{
    background-color:green;
}
.top-contacts{
    background-color:black;

}
.bi-telephone{
    color: green;
    font-size: 2vw;
}
.bi-envelope{
    color: green;
}
.bi-envelope > a:nth-child(1){
    text-decoration: none;
    font-size: smaller;
    color: green;
}
div.col-3:nth-child(3){
    color: green;
    width: 130px;
}